<div class="container">
  <header class="container__header">
    <img width="70" height="70" src="https://img.icons8.com/clouds/100/book.png" alt="book">
    <h1>{{ title | titlecase}}</h1>
  </header>
  <main class="container__main">
    <app-basic-editor></app-basic-editor>
    <app-textarea *ngFor="let usernot of usernots; let i = index;" [usernot]="usernot" [arrFromLocalStorageCh]="arrFromLocalStorage" [indexComp]="(usernots.length - i)"></app-textarea>
  </main>
  <footer class="container__footer">
    <a href="https://github.com/Danyn7" target="_blank" class="footer__link"><img alt="github" src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/external-github-a-web-based-hosting-service-for-version-control-logo-bold-tal-revivo.png" class="footer__img"></a>
  </footer>
</div>